name: UI Automation Regression

on:
  workflow_dispatch:
    inputs:
      browser:
        description: 'Choose browser'
        required: true
        default: chrome
        type: choice
        options:
          - chrome
          - firefox

      testtype:
        description: 'Test type'
        required: true
        default: regression
        type: choice
        options:
          - regression
          - sanity

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Run Selenium Tests with VM options
        run: mvn clean test -Dtest=LoginTest -Dbrowser=${{ inputs.browser }} -Dtesttype=${{ inputs.testtype }}
